.pagination {
  display: none;
}

@media (min-width: 1024px) {
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pagination__page,
  .pagination__ellipsis {
    margin-right: 20px;
    color: #000000;
    text-decoration: none;
  }

  .pagination__page:visited {
    text-decoration: none;
    color: #000000;
  }

  .pagination__page_active,
  .pagination__page_active:visited {
    color: #5d71dd;
    text-decoration: underline;
  }

  .pagination__page:hover {
    color: #5d71dd;
  }

  .pagination__button {
    padding: 10px 16px;
    background-color: rgba(93, 113, 221, 0.05);
    color: #5d71dd;
    font-size: 18px;
    font-family: 'Futura PT';
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .pagination__button:hover {
    background-color: rgba(93, 113, 221, 0.15);
  }

  .pagination__next-image {
    width: 10px;
    height: 10px;
    margin-left: 8px;
  }
}
