.list {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 4px 8px 40px 0px rgba(8, 24, 111, 0.2);
  -moz-box-shadow: 4px 8px 40px 0px rgba(8, 24, 111, 0.2);
  box-shadow: 4px 8px 40px 0px rgba(8, 24, 111, 0.2);
}

.list__item-type1,
.list__item-type2 {
  width: 280px;
  min-height: 350px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 40px 30px;
}

.list__item-type3 {
  width: 280px;
  min-height: 350px;
  border-radius: 10px;
  background-color: #5d71dd;
  color: #ffffff;
  padding: 40px 30px;
}

.list__item-type4 {
  width: 280px;
  min-height: 350px;
  border-radius: 10px;
  background: url('../../assets/images/Card.svg') no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  padding: 40px 30px;
}

.list__item-type5 {
  width: 280px;
  min-height: 350px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 40px 30px;
}

.list__category {
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 16px;
}

.list__category_blue {
  background-color: rgba(93, 113, 221, 0.05);
  color: #5d71dd;
}

.list__category_white {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}

.list__category_white2 {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.list__title {
  font-family: 'Futura PT Medium';
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.list__title_white {
  color: #ffffff;
}

.list__date {
  content: '13 дек 2020';
  position: absolute;
  bottom: 40px;
  left: 30px;
  font-size: 16px;
  color: #ffffff;
}

.list__date2 {
  content: '13 дек 2020';
  position: absolute;
  bottom: 40px;
  left: 30px;
  font-size: 16px;
  color: rgba(47, 34, 34, 0.4);
}

.list__text {
  margin: 0;
  font-size: 18px;
  color: rgba(47, 34, 34, 0.4);
  margin: 20px 0 50px;
}

.list__item-type3:hover {
  background-color: #ffffff;
  color: #2f2222;
}

.list__item-type3:hover .list__title {
  color: #2f2222;
}

.list__item-type3:hover .list__category {
  background-color: rgba(93, 113, 221, 0.05);
  color: #5d71dd;
}

.list__item-type3:hover .list__date {
  color: rgba(47, 34, 34, 0.4);
}

.list__category_blue:hover {
  background-color: rgba(93, 113, 221, 0.15);
}

.list__category_white2:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.list__item {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

@media (min-width: 1024px) {
  .list {
    width: 940px;
  }

  .list_margin-bottom {
    margin-bottom: 40px;
  }

  .list__item {
    border-radius: 20px;
  }

  .list__item-type1,
  .list__item-type2,
  .list__item-type5 {
    padding: 40px;
  }

  .list__item-type2 {
    width: 620px;
    min-height: 400px;
  }

  .list__item-type3,
  .list__item-type4 {
    width: 300px;
    min-height: 400px;
  }

  .list__item-type5 {
    width: 620px;
    min-height: 180px;
  }

  .list__item-type2,
  .list__item-type4 {
    margin-right: 20px;
  }

  .list__item-type1 {
    width: 940px;
    min-height: 280px;
  }

  .list__date2 {
    left: auto;
    top: 40px;
    right: 40px;
    width: 81px;
    height: 21px;
  }

  .list_flex {
    display: flex;
  }
}
