.header {
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
  font-size: 18px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__container {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  height: 23px;
  display: none;
}

.header__show {
  position: relative;
}

.header__show-menu {
  background: url('../../assets/images/menu.svg') no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.header__nav-show {
  display: none;
  position: absolute;
  width: 200px;
  background-color: #ffffff;
  right: 0;
  top: 30px;
}

.header__ul-buttons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 23px;
}

.header__ul-buttons-show {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.header__button-container {
  height: 23px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header__button-tel {
  font-family: 'Futura PT Medium';
}

.header__button,
.header__button-tel {
  height: 22px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__button::after,
.header__button-tel::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #5d71dd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.header__button,
.header__button:visited {
  color: #2f2222;
  text-decoration: none;
}
.header__button-active,
.header__button-active:visited {
  color: #5d71dd;
}
.header__button-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  opacity: 1;
  background-color: #5d71dd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.header__button-tel,
.header__button-tel:visited {
  color: #5d71dd;
  text-decoration: none;
}

.header__button:hover,
.header__button-tel:hover {
  color: #6c7dd8;
}

.header__button:hover::after,
.header__button-tel:hover::after {
  opacity: 1;
}

.header__main-image {
  background: url('../../assets/images/main-image.svg') no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 150px;
}

.header__tel-image {
  margin-right: 5px;
}

@media (min-width: 1024px) {
  .header {
    height: 320px;
    font-size: 18px;
  }

  .header__container {
    height: 70px;
  }

  .header__main-image {
    height: 250px;
  }

  .header__nav {
    width: 540px;
    display: block;
  }

  .header__button-container {
    margin: 0;
  }

  .header__tel-image {
    margin-right: 10px;
  }

  .header__show-menu {
    display: none;
  }

  .header__show {
    display: none;
  }
}
