.footer {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(93, 113, 221, 0.05);
}

.footer__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 64px;
}

.footer__ul-buttons {
  width: 280px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__button {
  position: relative;
}

.footer__button,
.footer__button:visited {
  color: #2f2222;
  text-decoration: none;
}

.footer__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #5d71dd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.footer__button:hover {
  color: #5d71dd;
}

.footer__button:hover::after {
  opacity: 1;
}

.footer__text {
  font-size: 14px;
}

@media (min-width: 1024px) {
  .footer__ul-buttons {
    width: 471px;
  }
}
