@font-face {
  font-family: 'Futura PT';
  src: url('./assets/font/FuturaPT-Book.ttf');
}

@font-face {
  font-family: 'Futura PT Medium';
  src: url('./assets/font/FuturaPT-Medium.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Futura PT';
  font-size: 18px;
  color: #2f2222;
}

#root {
  min-height: 100vh;
}
